{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Homepage{% endblock %}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;600&family=DM+Mono:wght@300;400&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="{% static 'home/assets/index.css' %}">
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>

    <div class="flex flex-col justify-between min-h-dvh">
        <header class="bg-white py-5 px-20 border-b-2 border-black shadow-md">
            <div class="flex flex-col items-center gap-5 md:flex-row"> <img src="{% static 'home/assets/python-logo-red.png' %}"
                    alt="Logo of Tokyo Python Usergroup" class="w-12">
                <h2 class="text-lg font-carlito font-bold md:text-2xl">Tokyo Python</h2>
            </div>
        </header>
        <div class="my-2 flex flex-col items-center lg:flex-row-reverse lg:justify-around">
            <div>

                <h1 class="text-4xl font-hero text-center drop-shadow-md sm:text-5xl xl:text-6xl lg:text-left">
                    Tokyo Python
                </h1>
                <div class="mx-auto">
                    <p class="mx-5 pt-10 text-center text-xl max-w-xl md:text-2xl">
                        Tokyo Python: A vibrant, English-speaking community for Pythonistas,
                        based in Tokyo since 2017.
                    </p>
                </div>
                </div>

            <img src="{% static 'home/assets/tokyoskyline.png' %}" alt="Red Python Logo above Tokyo" class="w-4/5 lg:w-1/2">

        </div>

    </div>

    <!-- FEATURES -->
    <section class="features" id="features">
        <div class="section-header">
            <h2 class="section-title">Upcoming events</h2>
        </div>

        <div class="feature-grid">
            <div class="feature-card">
                <div class="feature-number">01</div>
            <div class="feature-title">Python x Rust</div>
                <p class="feature-desc">
                    A discussion beyond python. Especially when handling large data
                    in Python, Pandas is good, but it isn't fast.
                    Introducing Polars, UV, Ruff linter and more.
                </p>
                <a href="https://github.com/ben05allen/TokyoPython-Rust-In-Python">Fancy a peek?</a>

            </div>
            <div class="feature-card">
                <div class="feature-number">02</div>
                <div class="feature-title">Christmas bowling challenge</div>
                <p class="feature-desc">
                    A little coding challenge trying to make a bowling scoring program
                </p>
                <a href="https://github.com/ben05allen/TokyoPythonBowlingChallenge">Give it a try</a>
            </div>
        </div>
    </section>
    <section>
        <div class="font-carlito">
            <div class="flex flex-col">

                <div class="mt-10 flex flex-col gap-5 drop-shadow-md">
                    <div class="flex flex-col gap-5 items-center md:flex-row md:justify-around"> <a
                            href="https://www.meetup.com/tokyopython/" class="max-w-40 md:max-w-1/7"> <img
                                src="{% static 'home/assets/meetup-icon.png' %}" alt="Logo of Meetup.com"> </a> <a
                            href="https://www.lewagon.com/tokyo" class="max-w-40 md:max-w-1/7"> <img
                                src="{% static 'home/assets/lewagon.png' %}" alt="Logo of Le Wagon Tokyo Campus"> </a> <a
                            href="https://tokyopython.link/discord" class="max-w-40 md:max-w-1/7"> <img
                                src="{% static 'home/assets/discord-black-icon.png' %}" alt="Logo of Discord"> </a> <a
                            href="https://www.python.org/psf/donations/" class="max-w-40 md:max-w-1/7"> <img
                                src="{% static 'home/assets/python-logo-only.svg' %}"
                                alt="Logo of Python Software Foundation Fundraising"> </a> </div>
                    <p class="mb-5 text-center text-xl md:mx-20 md:text-2xl">
                        Thank you to all of our members and supporters ☺️
                    </p>
                </div>
            </div>
        </div>

    </section>

    <!-- <a href="" class="btn-light">Join us!</a> -->
    <!-- FOOTER -->
        <footer>
            <div class="py-2 bg-black font-carlito text-white text-xl md:px-60">
                <div class="mx-auto flex flex-col w-screen gap-1 items-center md:flex-row md:ml-auto md:mr-0">
                    <p class="py-2 mr-5">© Tokyo Python, 2026</p> <a href="https://www.meetup.com/tokyopython/"> <img
                            src="{% static 'home/assets/meetup-icon.svg' %}" alt="Tokyo Python on Meetup"
                            class="w-8 mx-1 hover:w-10 hover:mx-0 transition-all transition-350"> </a> <a
                        href="https://discord.gg/ZbF4Rjqf"> <img src="{% static 'home/assets/discord-white-icon.png' %}"
                            alt="Tokyo Python on Discord"
                            class="w-8 mx-1 hover:w-10 hover:mx-0 transition-all transition-350"> </a>
                </div>
            </div>
        </footer>

</body>

</html>
